<% provide(:title, "About") %>

<header>
  <h2>Recordly – About</h2>
  <p>Recordly is developed as a sample application with the Ruby on Rails application framework by Timothy Campbell <a href="mailto:timothylevicampbell@gmail.com">&lt;timothylevicampbell@gmail.com&gt;</a>.</timothylevicampbell></p>
</header>