<% provide(:title, "Help") %>

<header>
  <h2>Recordly – Help</h2>
  <p>Contact us at <a href="mailto:timothylevicampbell@gmail.com">timothylevicampbell@gmail.com</a> for help relating to using the application.</p>
</header>