// ResourceListPage
.artists-page {
  .page-section {
    .artist-item, .artist-form {
      background: white;
      padding: 1rem 1rem 1rem 0.5rem;
      border-radius: 5px;
    }
  }
}

// ResourceForm
.artist-form {
  display: flex;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;

  .item-new-title {
    margin: 0 0 1rem 2rem;
    display: block;
  }

  .error-list {
    .error-item {}
  }

  .item-row {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;

    >.item-name {
      font-size: 125%;
      font-weight: bold;
      align-self: flex-end;
      flex-grow: 1;
      position: relative;
      overflow: hidden;
      height: 100px;

      .name-input {
        opacity: 1;
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
        z-index: 10;
        text-shadow: white 0 0 1rem;
        border: none;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.75);
        padding: 0 0.5rem;
        width: 90%;
      }

      .name-background {
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        min-width: 200px;
        height: auto;
        opacity: 0.4;
        z-index: 1;
      }
    }
    .item-avatar {
      .avatar-preview {
        background-size: cover;
        width: $LIST_AVATAR_WIDTH;
        height: $LIST_AVATAR_WIDTH;
        border: none;
        opacity: 1;
        transition: opacity 500ms;
        background-position: center center;

        .avatar-preview-icon {
          opacity: 0;
          font-size: 2.5rem;
          color: rgba(255, 255, 255, 0.9);
          text-shadow: rgba(100, 100, 100, 0.75) 0px 0px 1rem;
          transition: opacity 500ms;
        }

        &:hover, &:focus {
          opacity: 0.75;
          cursor: pointer;

          .avatar-preview-icon {
            opacity: 1;
          }
        }
      }
      .avatar-input { display: none; }
    }
  }
}

// Resource
.artist-item {
  display: flex;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;

  &.selected {
  }
  .item-row {
    display: flex;
    flex-basis: 100%;

    .item-avatar {
      background-size: cover;
      min-width: $LIST_AVATAR_WIDTH;
      height: $LIST_AVATAR_WIDTH;
    }
    >.item-name {
      font-size: 125%;
      font-weight: bold;
      align-self: flex-end;
      flex-grow: 1;
      position: relative;
      overflow: hidden;
      height: 100px;

      .item-name-text {
        opacity: 1;
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
        z-index: 10;
        text-shadow: white 0 0 1rem;
      }

      .item-name-background {
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        min-width: 200px;
        height: auto;
        opacity: 0.4;
        z-index: 1;
      }
    }
    .item-albums {}
    .item-created {}
    .item-updated {}
  }
  .album-list {
    margin: 0.5rem 0 0 2rem;
    width: 100%;

    .album-item {
      margin-bottom: 0.5rem;

      .item-associations {
        border: none;
      }
    }

    .track-list {
    }
  }
}

// ResourceListForm
.artist-list-form {
  .artist-item {
    &.selected {}
    .artist-item-avatar {
      background-size: cover;
      min-width: $LIST_AVATAR_WIDTH;
      height: $LIST_AVATAR_WIDTH;
    }
    .artist-item-name {

    }
  }
}
