// ResourceListForm
.track-list-form {
  .track-item {
    &.selected {}
    .track-item-track-num {}
    .track-item-name {}
  }
}

.track-item {
  display: flex;
  align-items: baseline;

  .item-num {
    width: 1rem;
    text-align: right;
    margin-right: 0.5rem;
    opacity: 0.5;
  }
  .item-name {
    font-size: 100% !important;
    align-self: auto;
  }
}
